[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
jupyterlab = "*"
ipykernel = "*"
matplotlib = "*"
numpy-stl = "*"
pyqt5 = "*"
jupyter = "*"
pyopengl = "*"
flask = "*"
pyinstaller = "==5.13.2"

[dev-packages]

[requires]
python_version = "*"
